{# empty Twig template #}
{% include "G6FriendsBundle::header.html.twig" with {'title': 'Profile Information','user':name,'isLogin': 1} %}


<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="well bs-component">
            <form name="updateForm" class="form-horizontal" action="profile_info" method="POST" onsubmit="return validateUpdateInfoForm();">
                <fieldset>
                    <legend>Profile Information</legend>               
                    <div class="form-group">
                        <label class="col-lg-3 control-labe"></label>                           
                        <label for="inputUsername" class="col-lg-6 control-labe text-center">Username: {{user.username}}</label>                           
                    </div>
                    {#<div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="password" placeholder="Password">                           
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputRePassword" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="repassword" placeholder="Re-enter Password">                           
                        </div>
                    </div>#}

                    <div id="fgFirstname" class="form-group">
                        <label for="inputFirstname" class="col-lg-2 control-label">First Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="firstname" placeholder="First Name" value="{{user.firstname}}">
                        </div>
                    </div>

                    <div id="fgLastname" class="form-group">
                        <label for="inputLastname" class="col-lg-2 control-label">Last Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="lastname" placeholder="Last Name" value="{{user.lastname}}">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-lg-2 control-label">Gender</label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" id="optionsRadios1" value="male" {% if user.gender=='male' %}checked {% endif %}>
                                    Male
                                </label>
                                <label></label>
                                <label>
                                    <input type="radio" name="gender" id="optionsRadios2" value="female" {% if user.gender=='female' %}checked {% endif %}>
                                    Female
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputBirthdate" class="col-lg-2 control-label">Birthdate</label>
                        <div class="col-lg-10">
                            <input type="date" class="form-control" name="birthdate" value="{{user.birthdate | date('Y-m-d')}}" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">

                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div id="validateError" class="col-lg-4">

    </div>
</div> 

{% if error==1 %}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="alert alert-dismissible alert-danger"> 

                <p class="text-center"><strong>{{ errorMsg }}</strong></p>

            </div>
        </div>
    </div> 
{% elseif success==1 %}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="alert alert-dismissible alert-success"> 

                <p class="text-center"><strong>Update Success.</strong></p>

            </div>
        </div>
    </div> 
{% endif %}


{#{{dump(user)}}#}

{#{% if  error == 1 %}
    {{ errorMsg }}
{% elseif success==1 %}
    Register Success
{% endif %}#}

<script>

    function validateUpdateInfoForm() {

        var firstname = document.forms["updateForm"]["firstname"].value;
        var lastname = document.forms["updateForm"]["lastname"].value;
        var error = 0;

        if (lastname === null || lastname === "") {
            var fgLastname = document.getElementById("fgLastname");
            fgLastname.className += " has-error";
            showValidateError('Please enter the Last Name.');
            error = 1;
        }

        if (firstname === null || firstname === "") {
            var fgFirstname = document.getElementById("fgFirstname");
            fgFirstname.className += " has-error";
            showValidateError('Please enter the First Name.');
            error = 1;
        }

        if (error === 1)
        {
            return false;
        }

    }

    function showValidateError(message) {

        var errorBox = document.getElementById("validateError");
        var messegeHTML = '<div class="alert alert-dismissible alert-danger"> <p class="text-center"><strong>' + message + '</strong></p> </div>';
        errorBox.innerHTML = messegeHTML;

    }

    function hideValidateError(message) {

        var errorBox = document.getElementById("validateError");
        var messegeHTML = '';
        errorBox.innerHTML = messegeHTML;

    }

</script>


{% include "G6FriendsBundle::footer.html.twig" %}