{# empty Twig template #}
{% include "G6FriendsBundle::header.html.twig" with {'title': name ~ '\'s Wall','user':name,'isLogin': 1} %}

{% if posts is empty %} 
    <div class="center-screen-login"></div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="alert alert-dismissible alert-success"> 

                <p class="text-center"><strong>Your wall is empty.<a href="{{ path('g6_friends_newpost') }}">Create a post</a> or go to the <a href="{{ path('g6_friends_public_wall') }}">Public Wall.</a></strong></p>

            </div>
        </div>
    </div> 
{% endif %}


<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        {% for post in posts %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title post-user">{{post['user'].firstName}} {{post['user'].lastName}}</h3> 
                    <p class="post-date">{{post['post_date']|  date('Y-m-d')}} at {{post['post_date']|  date('h:i:s a')}}</p>                   
                    <p class="post-likes">{{post['post_likes']}} Likes</p>                 
                    <a class="btn btn-default btn-xs post-view" href="{{ path('g6_friends_post',{'postId':post['post_id']}) }}">View </a>
                </div>
                <div class="panel-body">
                    <p class="post-content">{{post['post_content']}}</p>                                    
                </div>

                {% for comment in post['comments'] %}
                    <div class="panel-body panel-comment  comment">
                        <h4 class="comment-user">{{comment['user'].firstName}} {{comment['user'].lastName}}</h4>
                        <p class="comment-date">{{comment['comment_date']|date('Y-m-d')}} at {{comment['comment_date']|date('h:i:s a')}}</p>           

                        <p class="comment-content">{{comment['comment_content']}}</p>
                        {#                        <p class="comment-likes">{{comment['comment_likes']}}</p>#}

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>


{#{{dump(posts)}}#}

{% include "G6FriendsBundle::footer.html.twig" %}