{# empty Twig template #}
<html>
    <header>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
    </header>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('g6_friends_homepage') }}">G6 Friends</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li><a href="{{ path('g6_friends_public_wall') }}">Public Wall</a></li>                   
                        <li><a href="{{ path('g6_friends_newpost') }}">New Post</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        {% if isLogin == 1 %}
                            <li><a href="{{ path('g6_friends_user',{'name':user}) }}">{{user}}</a></li>
                            <li><a href="{{ path('g6_friends_profile_info') }}">Profile Information</a></li>
                            <li><a href="{{ path('g6_friends_logout') }}">Log out</a></li> 
                        {% else %}
                            <li><a href="{{ path('g6_friends_register') }}">Register</a></li>
                            <li><a href="{{ path('g6_friends_login') }}">Login</a></li> 
                        {% endif %}                       
                    </ul>
                </div>
            </div>
        </nav>

        <div class="top-margin-nav"> </div>
